<div class="row">
  <div class="col">
    <div class="card bg-success shadow">
      <div class="card-header bg-transparent border-0">
        <h1 class="text-white mb-0">All OFFERS</h1>
        <br>
        <a class="btn btn-primary ml-auto" data-toggle="modal" data-target="#modalOfferForm" style="color:#fff;"
          href="/admin/addoffer">Add Offer</a>

      </div>
      <div class="table-responsive">
        <table id="myTable" style="color: black;" class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="sort" data-sort="name">No</th>
              <th scope="col" class="sort" data-sort="name"> Coupon Code</th>
              <th scope="col" class="sort" data-sort="budget">Discount</th>
              <th scope="col" class="sort" data-sort="status">Status</th>
              <th scope="col" class="sort" data-sort="status">option</th>
              {{!-- <th scope="col" class="sort" data-sort="status">Status</th> --}}
            </tr>
          </thead>
          <tbody class="list">
            {{#if Coupons}}
            {{#each Coupons}}
            <tr>
              <td scope="row" id="count">{{math @index "+" 1}}</td>

              <td class="budget">
                {{this.couponCod}}
              </td>
              <td class="budget">
                {{this.discount}}
                <span>.%</span>
              </td>
              <td class="budget">
                {{this.status}}
              </td>
              <td class="budget">
                <a class="btn btn-danger" href="/admin/removeCoupon/{{this._id}}">Remove</a>
              </td>
            </tr>
            {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalOfferForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/admin/addCoupon" method="POST" id="offer-form">
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <label for="defaultForm-email">Coupon Offer In Percentage(.%)</label>
            <input type="number" name="Discount" required class="form-control validate">
            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-default">Add Offer</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>