<div class="row">
  <div class="table-responsive col">
    <div class="card bg-success shadow">
      <div class="card-header  bg-transparent border-0">
        <h1 class="text-white mb-0">All PRODUCTS</h1>
        <br>
        <a class="btn btn-primary ml-auto" style="color:#fff;" href="/admin/addproducts"> Add products</a>
      </div>
      <div class="table-responsive">
        <table id="myTable" style="color: black;" style="width: 100%;"
          class=" table css-serial align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="sort" data-sort="name">No</th>
              <th scope="col" class="sort" data-sort="name">Product Name</th>
              <th scope="col" class="sort" data-sort="budget">Price</th>
              <th scope="col" class="sort" data-sort="status">Catogory</th>
              {{!-- <th scope="col" class="sort" data-sort="status">Status</th> --}}
              <th scope="col">Images</th>
              <th>option</th>
            </tr>
          </thead>
          <tbody class="list">
            {{#each Data}}
            <tr>
              <td scope="row" id="count">{{math @index "+" 1}}</td>

              <td class="budget">
                {{this.product_name}}
              </td>
              <td class="budget">
                Rs. {{this.product_price}}
              </td>
              <td class="budget">
                {{this.product_category}}
              </td>
              {{!-- <td>
                <span class="badge badge-dot mr-4">
                  <i class="bg-warning"></i>
                  <span class="status">Online</span>
                </span>
              </td> --}}
              <td>
                <div class="avatar-group">
                  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip"
                    data-original-title="{{this.product_name}}">
                    <img alt="Image placeholder" src="../productImages/{{this._id}}.jpg">
                  </a>
                  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip"
                    data-original-title="{{this.product_name}}">
                    <img alt="Image placeholder" src="../productImages/{{this._id}}1.jpg">
                  </a>
                  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip"
                    data-original-title="{{this.product_name}}">
                    <img alt="Image placeholder" src="../productImages/{{this._id}}2.jpg">
                  </a>
                </div>
              </td>
              <td class="text-right">
                    <a class="btn btn-primary" href="/admin/editproduct/{{this._id}}">Edit</a>
                    <a class="btn btn-danger" href="/admin/removeproduct/{{this._id}}">Remove</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>