<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
<form action="/admin/salesReport" method="POST">
        <p id="date-error" style="display: none; color: red;">invalid date please check</p>

    <input type="date" class="mb-3" id="start" name="start"onchange="handler(event)"> to <input type="date" id="end" class="mb-3" name="end">
    <button class="btn btn-success" type="submit" id="submit">Submit</button>
</form>
<table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th scope="col">N0*</th>
            <th scope="col">Name*</th>
            <th scope="col">Date*</th>
            <th scope="col">Payment Method*</th>
            <th scope="col">Total*</th>
        </tr>
    </thead>
    <tbody>
{{#each data}}
        <tr id="current">
            <td id="count">{{math @index "+" 1}}</td>
            <td>{{this.deliveryDetails.userName}}</td>
            <td>{{this.date}}</td>
            <td>{{this.paymentMethod}}</td>
            <td>{{this.totalAmount}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            drawCallback: function () {
                var hasRows = this.api().rows({ filter: 'applied' }).data().length > 0;
                $('.buttons-copy')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                $('.buttons-csv')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                $('.buttons-excel')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                $('.buttons-pdf')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                $('.buttons-print')[0].style.visibility = hasRows ? 'visible' : 'hidden'
            }
        });
    });
</script>
<script>
    function handler(e) {
        var first = e.target.value
        console.log('vanne', first)
        document.getElementById("end").min = first
    }
</script>