<section class="shopping_cart_area p_100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="cart_items">
          <h3>Your Cart Items</h3>
          <div class="table-responsive-md">
            <table class="table">
              <tbody>


                {{#each hi.data}}
                <tr>
                  <th scope="row">
                    <a href="/removecart/?cartId={{this._id}}&proId={{this.products._id}}">
                      <img src="img/icon/close-icon.png" alt="">
                    </a>
                  </th>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <a href="/single/{{this.products._id}}">
                          <img style="width: 102px;height:123px;" src="../productImages/{{this.products._id}}.jpg" alt="">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4>{{this.products.product_name}}</h4>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="red"> Rs.{{this.products.product_price}}</p>
                  </td>
                   <td>
                    <p class="red"> Rs.<span id="{{this.products._id}}1">{{this.sub}}</span></p>
                  </td>
-                  <td>
                    <div style="width: 53px;" class="quantity">
                      <div class="custom">
                        <button onclick="change('{{this._id}}','{{this.products._id}}','{{../user._id}}',-1)" class="btn btn-danger"
                          type="button"><i class="icon_minus-06"></i></button>
                        <span style="font-size: large;" id="{{this.products._id}}">{{this.quantity}}</span>
                        <button onclick="change('{{this._id}}','{{this.products._id}}','{{../user._id}}',1)" class="btn btn-success"
                          type="button"><i class="icon_plus"></i></button>
                      </div>
                    </div>
                  </td>
                </tr>
                {{/each}}

                <tr>
                  <th scope="row">
                  </th>
                </tr>
                <tr class="last">
                  <th scope="row">
                    <img src="img/icon/cart-icon.png" alt="">
                  </th>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <h5>Cupon code</h5>
                      </div>
                      <div class="media-body">
                        <input type="text" placeholder="Apply cuopon">
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="red"></p>
                  </td>
                  <td>
                    <h3>update cart</h3>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart_totals_area">
          <h4>Cart Totals</h4>
          <div class="cart_t_list">
            <div class="media">
              <div class="d-flex">
                <h5>Subtotal</h5>
              </div>
              <div class="media-body">
                <h6>
            Rs.<span id="total">{{hi.total}}</span> 
                  </h6>
              </div>
            </div>
            <div class="media">
              <div class="d-flex">
                <h5>Shipping</h5>
              </div>
              <div class="media-body">
                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model tex
                </p>
              </div>
            </div>
            <div class="media">
              <div class="d-flex">
              </div>
              <div class="media-body">
                <select class="selectpicker">
                  <option>Calculate Shipping</option>
                  <option>Calculate Shipping</option>
                  <option>Calculate Shipping</option>
                </select>
              </div>
            </div>
          </div>
          <div class="total_amount row m0 row_disable">
            <div class="float-left">
              Total
            </div>
            <div class="float-right">
           Rs.<span id="total1">{{hi.total}}</span>
            </div>
          </div>
        </div>
        <a type="submit" href="/register" value="submit" class="btn subs_btn form-control">Proceed to checkout</a>
      </div>
    </div>
  </div>
</section>