<section class="home_carousel_area">
  <div class="home_carousel_slider owl-carousel">
    {{!-- repeat --}}
    <div class="item">
      <div class="h_carousel_item">
        <img src="img/home-carousel/home-c-1.jpg" alt="">
        <div class="carousel_hover">
          <h3>mens bag</h3>
          <h4>We feature the best professional bags </h4>
          <h5>Including:</h5>
          <p>Adidas, Century, Everlast, Fairtex, Fighting Sports, WaveMaster, Twins, Rival</p>
          <a class="discover_btn" href="#">discover now</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="h_carousel_item">
        <img src="img/home-carousel/home-c-2.jpg" alt="">
        <div class="carousel_hover">
          <h3>mens bag</h3>
          <h4>We feature the best professional bags </h4>
          <h5>Including:</h5>
          <p>Adidas, Century, Everlast, Fairtex, Fighting Sports, WaveMaster, Twins, Rival</p>
          <a class="discover_btn" href="#">discover now</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="h_carousel_item">
        <img src="img/home-carousel/home-c-3.jpg" alt="">
        <div class="carousel_hover">
          <h3>mens bag</h3>
          <h4>We feature the best professional bags </h4>
          <h5>Including:</h5>
          <p>Adidas, Century, Everlast, Fairtex, Fighting Sports, WaveMaster, Twins, Rival</p>
          <a class="discover_btn" href="#">discover now</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="h_carousel_item">
        <img src="img/home-carousel/home-c-4.jpg" alt="">
        <div class="carousel_hover">
          <h3>mens bag</h3>
          <h4>We feature the best professional bags </h4>
          <h5>Including:</h5>
          <p>Adidas, Century, Everlast, Fairtex, Fighting Sports, WaveMaster, Twins, Rival</p>
          <a class="discover_btn" href="#">discover now</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="h_carousel_item">
        <img src="img/home-carousel/home-c-5.jpg" alt="">
        <div class="carousel_hover">
          <h3>mens bag</h3>
          <h4>We feature the best professional bags </h4>
          <h5>Including:</h5>
          <p>Adidas, Century, Everlast, Fairtex, Fighting Sports, WaveMaster, Twins, Rival</p>
          <a class="discover_btn" href="#">discover now</a>
        </div>
      </div>
    </div>
    {{!-- repeat --}}

  </div>
</section>


<section class="special_offer_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="special_offer_item">
          <img class="img-fluid" src="img/feature-add/special-offer-1.jpg" alt="">
          <div class="hover_text">
            <h4>Special Offer</h4>
            <h5>Young Couple</h5>
            <a class="shop_now_btn" href="/shop">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="special_offer_item2">
          <img class="img-fluid" src="img/feature-add/special-offer-2.jpg" alt="">
          <div class="hover_text">
            <h5>Girls bag</h5>
            <a class="shop_now_btn" href="/category/WOMEN">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="fillter_latest_product">
  <div class="container container-fluid">
    <div class="single_c_title">
      <h2>Our Latest Product</h2>
    </div>
    <div class="fillter_l_p_inner">
      <ul class="fillter_l_p">
        <li class="active" data-filter="*"><a href="/category/MEN">men's</a></li>
        <li data-filter=".woman"><a href="/category/WOMEN">Woman</a></li>
        <li data-filter=".acc"><a href="/category/ACCESORIES">Accessories</a></li>
      </ul>
      <div class="row isotope_l_p_inner" id="MyItems">
        {{#each products}}
        <div class="myProd  col-lg-3 col-md-4 col-sm-6">
          <div class=" l_product_item product-item">
            <div class="l_p_img ">
              <a href="/single/{{this._id}}">

                <img class="img-fluid ml-3" style="height: 18rem; width:15rem" src="../productImages/{{this._id}}.jpg" alt="">
              </a>

            </div>
            <div class="l_p_text product-info">
              <ul>
                <li><button class="add_cart_btn" onclick="addToCart('{{this._id}}')">Add To Cart</button></li>
                <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
              </ul>
              <h4 class="name">{{this.product_name}}</h4>
                              {{#if this.actual_price}}

              <h5>
                <del>Rs.{{this.actual_price}}</del>
               Rs.{{this.product_price}}</h5>
                {{else}}
                  <h5>
                
               Rs.{{this.product_price}}</h5>
                                {{/if}}

            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>




<section class="from_blog_area">
  <div class="container">
    <div class="from_blog_inner">
      <div class="c_main_title">
        <h2>From The Blog</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="from_blog_item">
            <img class="img-fluid" src="img/blog/from-blog/f-blog-1.jpg" alt="">
            <div class="f_blog_text">
              <h5>fashion</h5>
              <p>Neque porro quisquam est qui dolorem ipsum</p>
              <h6>21.09.2017</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="from_blog_item">
            <img class="img-fluid" src="img/blog/from-blog/f-blog-2.jpg" alt="">
            <div class="f_blog_text">
              <h5>fashion</h5>
              <p>Neque porro quisquam est qui dolorem ipsum</p>
              <h6>21.09.2017</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="from_blog_item">
            <img class="img-fluid" src="img/blog/from-blog/f-blog-3.jpg" alt="">
            <div class="f_blog_text">
              <h5>fashion</h5>
              <p>Neque porro quisquam est qui dolorem ipsum</p>
              <h6>21.09.2017</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  function myFu() {
    var input, filter, cards, cardContainer, h4, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("MyItems");
    cards = cardContainer.getElementsByClassName("product-item");
    myProd = document.getElementsByClassName("myProd");
    console.log('input' + input)
    console.log('filter' + filter)
    console.log('cardContainer' + cardContainer)
    console.log('cards' + cards)
    for (i = 0; i < cards.length; i++) {
      title = cards[i].querySelector(".product-info h4.name");
      console.log('title' + title)
      if (title.innerText.toUpperCase().indexOf(filter) > -1) {
        myProd[i].style.display = "block";
      } else {
        console.log(myProd[i])
        myProd[i].style.display ="none";

      }
    }
  }
</script>