<section class="solid_banner_area">
  <div class="container">
    <div class="solid_banner_inner">
      <h3>checkout register</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Checkout Register</a></li>
      </ul>
    </div>
  </div>
</section>


<section class="register_area p_100">
  <div class="container">
    <div class="register_inner">
      <div class="row">
        <div class="col-lg-7">
          <div class="billing_details">
            <h2 class="reg_title">Billing Detail</h2>
            <form class="billing_inner row" action="" id="checkout-form">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="name">First Name <span>*</span></label>
                  <input type="text" name="fname" class="form-control" value="" id="ad-fname" aria-describedby="name" placeholder=""
                    required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="last">Last Name <span>*</span></label>
                  <input type="text" name="lname" class="form-control" value="" id="ad-lname" aria-describedby="last" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="cname">PIN Code <span>*</span></label>
                  <input name="pincode" class="form-control" value="" id="ad-pincode" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="address">Address <span>*</span></label>
                  <input name="address" type="text" class="form-control" value="" id="ad-address" aria-describedby="address"
                    required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="ctown">City / Town <span>*</span></label>
                  <input name="town" class="form-control" value="" id="ad-town" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="email">Email <span>*</span></label>
                  <input name="email" type="email" class="form-control" value="" id="ad-email" aria-describedby="email" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="phone">Phone <span>*</span></label>
                  <input name="mobile" type="number" class="form-control" value="" id="ad-mobile" aria-describedby="phone" required>
                  <input type="" name="user" value="{{user._id}}" id="" hidden>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="order_box_price">
            <h2 class="reg_title">Your Order</h2>
            <div class="payment_list">
              <div class="price_single_cost">
                {{#each cartItems}}
                <h5>{{this.products.product_name}} <span>Rs{{this.sub}}</span></h5>
                {{/each}}
                <h3><span class="normal_text">Order Totals</span> <span>Rs.{{total}}</span></h3>
              </div>



              <label class="container">COD
                <input type="radio" value="COD" name="payment-method" checked="checked">
                <span class="checkmark"></span>
              </label>
              <label class="container">ONLINE
                <input type="radio" value="ONLINE" name="payment-method">
                <span class="checkmark"></span>
              </label>


            </div>
            <button type="submit" value="submit" class="btn subs_btn form-control">place order</button>
          </div>
          {{!-- <h4> CHOOSE AN ADDRESS</h4>
          <div class="row" style="width:100%">
            <div class="col-lg-12">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="phone">Phone <span>*</span></label>
                  <input name="mobile" type="number" class="form-control" id="phone" aria-describedby="phone" required>
                </div>
              </div>
              <div class="col-lg-6 ml-auto">
                <div class="form-group">
                  <label for="phone">Phone <span>*</span></label>
                  <input name="mobile" type="number" class="form-control" id="phone" aria-describedby="phone" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:auto; width:100%">
            <div class="col-lg-12">

            </div>
          </div>
          <div class="row" style="margin-left:auto; width:100%">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="phone">Phone <span>*</span></label>
                <input name="mobile" type="number" class="form-control" id="phone" aria-describedby="phone" required>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:auto; width:100%">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="phone">Phone <span>*</span></label>
                <input name="mobile" type="number" class="form-control" id="phone" aria-describedby="phone" required>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:auto; width:100%">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="phone">Phone <span>*</span></label>
                <input name="mobile" type="number" class="form-control" id="phone" aria-describedby="phone" required>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:auto; width:100%">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="phone">Phone <span>*</span></label>
                <input name="mobile" type="number" class="form-control" id="phone" aria-describedby="phone" required>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:auto; width:100%">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="phone">Phone <span>*</span></label>
                <input name="mobile" type="number" class="form-control" id="phone" aria-describedby="phone" required>
              </div>
            </div>
          </div> --}}
          {{#each address}}
          <div class="row">
            <div class="col-lg-6">
              <div class="order_box_price">
                <div class="row" style="margin-left:auto; width:100%">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="phone">Fist Name <span>*</span></label>
                      <input name="fname" type="text" value="{{this.fname}}" class="form-control" id="fname"
                        aria-describedby="phone" required>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="order_box_price">
                <div class="row" style="margin-left:auto; width:100%">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="phone">Last Name <span>*</span></label>
                      <input name="lname" type="text" value="{{this.lname}}" class="form-control" id="lname"
                        aria-describedby="phone" required>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="order_box_price">
                <div class="row" style="margin-left:auto; width:100%">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="phone">Pincod <span>*</span></label>
                      <input name="pincode" type="number" value="{{this.pincode}}" class="form-control" id="pincode"
                        aria-describedby="phone" required>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="order_box_price">
                <div class="row" style="margin-left:auto; width:100%">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="phone">Address <span>*</span></label>
                      <input name="address" type="text" value="{{this.address}}" class="form-control" id="address"
                        aria-describedby="phone" required>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="order_box_price">
              <div class="row" style="margin-left:auto; width:100%">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="phone">City/Town <span>*</span></label>
                    <input name="city" type="text" value="{{this.town}}" class="form-control" id="town"
                      aria-describedby="phone" required>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="order_box_price">
                <div class="row" style="margin-left:auto; width:100%">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="phone">Email <span>*</span></label>
                      <input name="email" type="email" value="{{this.email}}" class="form-control" id="email"
                        aria-describedby="phone" required>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="order_box_price">
                <div class="row" style="margin-left:auto; width:100%">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="phone">Phone <span>*</span></label>
                      <input name="mobile" type="number" value="{{this.mobile}}" class="form-control" id="mobile"
                        aria-describedby="phone" required>
                    </div>
                    <div class="col-md-12">
                       <div class="row">
                      <div class="col-md-6" style="color: #fff;">
                        <p
                          onclick="changeaddress('{{this.fname}}','{{this.lname}}','{{this.pincode}}','{{this.address}}','{{this.town}}','{{this.email}}','{{this.mobile}}')"
                          class="btn btn-success">Use </p>

                      </div>
                      <div class="col-md-6" style="color: #fff;">
                        <a href="/deleteAddress/{{this._id}}" class="btn btn-danger">Delete address</a>

                      </div>
                    </div>
                    </div>
                   
                  </div>

                </div>


              </div>

            </div>


          </div>
          {{/each}}
        </div>




      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-6" style="color: #fff;">
        <a href="/add-address" class="btn btn-primary">
          Add a new address
        </a>
      </div>
    </div>
  </div>

  </form>






</section>



<script>
  function changeaddress(fname, lname, pincode, address, town, email, mobile) {
    document.getElementById('ad-fname').setAttribute("value",fname)
    document.getElementById('ad-lname').setAttribute("value",lname)
    document.getElementById('ad-pincode').setAttribute("value",pincode)
    document.getElementById('ad-address').setAttribute("value",address)
    document.getElementById('ad-town').setAttribute("value",town)
    document.getElementById('ad-email').setAttribute("value",email)
    document.getElementById('ad-mobile').setAttribute("value",mobile)
  }
</script>