<section class="solid_banner_area">
  <div class="container">
    <div class="solid_banner_inner">
      <h3>checkout register</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Checkout Register</a></li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
          {{#each address}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title">{{this.pincode}}</h6>
    <p class="card-text">{{this.address}}</p>
        <p class="card-text">{{this.mobile}}</p>

        <p class="card-text">{{this.pincode}}</p>

    <p onclick="changeaddress('{{this.fname}}','{{this.lname}}','{{this.pincode}}','{{this.address}}','{{this.town}}','{{this.email}}','{{this.mobile}}')"
    class="btn btn-success">Use </p>
    <a class="btn btn-danger" href="/removeAddress/{{this._id}}">
    Remove</a>
  </div>
</div>
            {{/each}}

    </div>
     <a href="/add-address" class="btn btn-primary mt-5">
      Add a new address
    </a>
  <br>
  </div>
</section>
<section class="register_area p_100">
  <div class="container">
    <div class="register_inner">
      <div class="row">
        <div class="col-lg-7">
          <div class="billing_details">
            <h2 class="reg_title">Billing Detail</h2>
            <form class="billing_inner row" action="" id="checkout-form">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="name">First Name <span>*</span></label>
                  <input type="text" name="fname" class="form-control" value="" id="ad-fname" aria-describedby="name"
                    placeholder="" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="last">Last Name <span>*</span></label>
                  <input type="text" name="lname" class="form-control" value="" id="ad-lname" aria-describedby="last"
                    required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="cname">PIN Code <span>*</span></label>
                  <input name="pincode" class="form-control" value="" id="ad-pincode" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="address">Address <span>*</span></label>
                  <input name="address" type="text" class="form-control" value="" id="ad-address"
                    aria-describedby="address" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="ctown">City / Town <span>*</span></label>
                  <input name="town" class="form-control" value="" id="ad-town" required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="email">Email <span>*</span></label>
                  <input name="email" type="email" class="form-control" value="" id="ad-email" aria-describedby="email"
                    required>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="phone">Phone <span>*</span></label>
                  <input name="mobile" type="number" class="form-control" value="" id="ad-mobile"
                    aria-describedby="phone" required>
                  <input type="" name="user" value="{{user._id}}" id="" hidden>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="order_box_price">
            <h2 class="reg_title">Your Order</h2>
            <div class="payment_list">
              <div class="price_single_cost">
                {{#each cartItems}}
                <h5>{{this.products.product_name}} <span>Rs{{this.sub}}</span></h5>
                {{/each}}
                <h3><span class="normal_text">Order Totals</span> <span>Rs.{{total}}</span></h3>
              </div>
              <h4> <span style="color: rgb(0, 0, 0);">PAYMENT </span></h4>

              <div class="payment-method" id="payment">
                <ul>
                  <li>
                    <label for="ship-standard">
                      <input type="radio" class="shipping-select" name="payment-method" value="COD" id="payment-method"
                        checked><span>CASH ON DELIVERY</span>
                    </label>
                  </li>
                  <br><span style="color:  rgb(0, 2, 3); font-size: 13px;">ONLINE PAYMENT</span>
                  <hr>
                  <li>
                    <label for="payment-method">
                      <input type="radio" class="shipping-select" name="payment-method" value="ONLINE"
                        id="payment-method"><span>RAZORPAY</span>
                    </label>
                  </li>
                  <li>
                    <label for="payment-method">
                      <input type="radio" class="shipping-select" name="payment-method" value="paypal"
                        id="payment-method"><span>PAYPAL</span>
                    </label>
                  </li>
                </ul>

              </div>
              <div name="paypal" id="paypal-button-container"> </div>
              <button type="submit" value="submit" class="btn subs_btn form-control">place order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
</section>


<script>
  function changeaddress(fname, lname, pincode, address, town, email, mobile) {
    document.getElementById('ad-fname').setAttribute("value", fname)
    document.getElementById('ad-lname').setAttribute("value", lname)
    document.getElementById('ad-pincode').setAttribute("value", pincode)
    document.getElementById('ad-address').setAttribute("value", address)
    document.getElementById('ad-town').setAttribute("value", town)
    document.getElementById('ad-email').setAttribute("value", email)
    document.getElementById('ad-mobile').setAttribute("value", mobile)
  }
</script>












