<style>
    .image-upload>input {
        display: none;
    }

    .image-upload img {
        width: 80px;
        cursor: pointer;
        border-radius: 50%;


    }
</style>
<link rel="stylesheet" href="../../css/profile.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <form method="POST" enctype="multipart/form-data"  action="/profileUpload/{{USER._id}}">
                                    <div class="image-upload">
                                        <label for="kuppi">
                                            <img id="look" src="../userImages/{{USER._id}}.jpg">
                                            <button style="display: none;" id="button" class="ml-4"><i
                                                    style=" color: rgb(206, 62, 62);" class="far fa-edit"></i></button>

                                        </label>

                                        <input onchange="profileUpload('{{USER._id}}')" id="kuppi" name="image"
                                            type="file" />

                                    </div>
                                </form>

                                <h6 class="f-w-600">{{USER.Name}}</h6>
                                <p>Web Designer</p>
                                <a href="/editUser">
                                    <p class="btn btn-primary">EDIT</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Name</p>
                                        <h6 class="text-muted f-w-400">{{USER.Name}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{USER.Email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">{{USER.Phone}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p style="text-decoration: none;" class="m-b-10 f-w-600">Addresses</p>
                                        <a href="/profileAddress">
                                            <h3 class="text-muted f-w-400"><i class="fas fa-caret-down"></i></h3>
                                        </a>
                                    </div>

                                    <div class="col-sm-6">
                                        <p style="text-decoration: none;" class="m-b-10 f-w-600">Orders</p>
                                        <a href="/all-orders">
                                            <h3 class="text-muted f-w-400"><i class="fas fa-caret-down"></i></h3>
                                        </a>
                                    </div>
                                      <div class="col-sm-6">
                                        <a class="btn btn-warning" href="/changePassword">Change Password</a>
                                    </div>

                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function profileUpload(id) {
        document.getElementById('look').src = URL.createObjectURL(event.target.files[0])
        document.getElementById('button').style.display = 'block'
    }
</script>