<link rel="stylesheet" href="../../css/profile.css">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Address</h6>
                                <div class="row">
                                    {{#each Address}}
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h6 class="card-title">{{this.pincode}}</h6>
                                            <p class="card-text">{{this.address}}</p>
                                            <p class="card-text">{{this.mobile}}</p>

                                            <p class="card-text">{{this.pincode}}</p>
                                            <a class="btn btn-primary" href="/editAddress/{{this._id}}">Edit</a>


                                            {{!-- <a class="btn btn-danger" href="/removeAddress/{{this._id}}">
                                                Remove</a> --}}
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>